
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
dependencies/pyspark-3.5.5.tar.gz
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

__pycache__/

.env

*.tar.gz

*.whl


dependencies/pyspark-3.5.5.tar.gz
